useDynLib(mht)
import(glmnet)
import(Matrix)
export(mht,bolasso,decompbaseortho,dyadiqueordre,mht.order,refit,quantilemht,order.variables,data.scale) 

S3method(refit, mht)
S3method(refit, mht.order)
S3method(print, mht)
S3method(print, mht.order)
S3method(print, bolasso)
S3method(predict, mht)
S3method(predict, mht.order)
S3method(plot, mht)
S3method(plot, mht.order)
S3method(plot, bolasso)
