useDynLib(mht)
import(glmnet)
export(mht,bolasso,decompbaseortho,dyadiqueordre,mht.order,refit,quantilemht) 

S3method(refit, mht)
S3method(refit, mht.order)
S3method(print, mht)
S3method(print, bolasso)
S3method(print, mht.order)
S3method(predict, mht)
S3method(predict, mht.order)
